<style>
  body { font-size: 62.5%; }
  label, input { display:block; }
  input.text { margin-bottom:12px; width:95%; padding: .4em; }
  fieldset { padding:0; border:0; margin-top:25px; }
</style>
<div class="editor_buttons">
	<button class="makeWYSIWYG_viewHTML">查看HTML</button>
	<button data-tag="bold"><b>加粗</b></button>
	<button data-tag="italic"><em>斜体</em></button>
	<button data-tag="underline"><ins>下划线</ins></button>
	<button data-tag="strikeThrough"><del>删除线</del></button>
	<button data-tag="insertUnorderedList">•无序列表</button>
	<button data-tag="insertOrderedList">1.有序列表</button>
    <button data-tag="createLink"><ins>网址链接</ins></button>
	<button data-tag="insertImage">图片链接</button>
	<button data-value="h1" data-tag="title">主标题</button>
	<button data-value="h2" data-tag="title">副标题</button>
	<button data-tag="removeFormat">清除格式</button>
	<button data-tag="uploadImage">上传图片</button>
	<!--button data-tag="test">Test</button-->
</div>
<div class="edit_area">
</div>
<div id="all_images">
</div>