<% @title = "捐赠我们 - CP百科" %>
<p class="subtitle">捐赠我们</p>
<div>
目前网站还未开通捐赠通道，不过想要支持CP百科的各位请发送邮件至 cpwikiproject@gmail.com 联系相关事宜！
<p>为什么要捐赠我们：</p>
<ol>
	<li>让您的本命CP在网络世界里拥有自己的页面！</li>
	<li>让更多的同好了解到您本命CP的魅力！</li>
	<li>让世界充满爱！</li>
	<li>为了实现以上三点，我们需要支付云服务提供商，以维护服务器和网站的正常运行。</li>
</ol>
</div>