<% @title = "CP百科" %>
<div class="homepage_content">
	<div class="content_crossbar">
		<p class="title">网站公告</p>
		<p class="announce"><span class="emph">刚刚建站，庆祝撒花 (*&gt;ω&lt;)/‧:*‧°★,。‧:*:‧°☆</span></p>
    	<p class="announce">欢迎各位同好们踊跃注册，完善百科~（&lt;ゝω・）☆</p>
    	<p class="announce">第一次使用本站的您可以先浏览<a href="/helps">帮助</a>菜单，如有任何疑问，请在<a href="/bug_reports">报错</a>菜单留言。</p>
	</div>
	<div class="content_hottest_newest">
	<div class="newest">
		<div class="title_bar">
			<p class="title">最新条目</p>
			<% num_entries = @newest.length %>
			<% for i in 0..num_entries - 1 %>
				<p class="ranking"><%= link_to @newest_seme[i] + " × " + @newest_uke[i], cp_path(@newest[i]) %></p>
			<% end %>
		</div>
	</div>
	<div class="hottest">
		<div class="title_bar">
			<p class="title">热门排名</p>
		    <% num_entries = @hottest.length %>
			<% for i in 0..num_entries - 1 %>
				<p class="ranking"><%= link_to @hottest_seme[i] + " × " + @hottest_uke[i], cp_path(@hottest[i]) %></p>
			<% end %>
		</div>
	</div>
</div>
	<div class="contact_bar">
		<table id="bottomtable">
			<tr>
				<td id="td_contact_us" onclick="window.location='/home/contact_us'">联系我们</td>
				<td id="td_follow_us" onclick="window.location='/home/follow_us'">关注我们</td>
				<td id="td_join_us" onclick="window.location='/home/join_us'">加入我们</td>
				<td id="td_donate_us" onclick="window.location='/home/donate_us'">捐赠我们</td>
			</tr>
		</table>
	</div>
</div>




