<% @title = "CP百科" %>
<div class="homepage_content">
	<div class="content_crossbar">
		<p class="title">网站公告</p>
		<p><span class="emph">刚刚建站，庆祝撒花 (*&gt;ω&lt;)/‧:*‧°★,。‧:*:‧°☆</span></p>
    	<p>欢迎各位<span class="emph">腐宅双修</span>的同好们踊跃注册，完善百科~（&lt;ゝω・）☆</p>
	</div>
	<div class="content_hottest_newest">
	<div class="newest">
		<div class="title_bar">
			<p class="title">最新条目</p>
		</div>
	</div>
	<div class="hottest">
		<div class="title_bar">
			<p class="title">分类排名</p>
		</div>
	</div>
</div>
	<div class="contact_bar">
		<table id="bottomtable">
			<tr>
				<td><a href="/home/contact_us" class="contact">联系我们</a></td>
				<td><a href="/home/follow_us" class="contact">关注我们</a></td>
				<td><a href="/home/join_us" class="contact">加入我们</a></td>
				<td><a href="/home/donate_us" class="contact">捐赠我们</a></td>
			</tr>
		</table>
	</div>
</div>