<div class="homepage_content">
	<div class="content_crossbar">
		<p class="title">网站公告</p>
		<p><span class="emph">刚刚建站，庆祝撒花！！！</span></p>
    	<p>欢迎各位<span class="emph">宅腐双修</span>的妹纸们踊跃注册，完善百科~</p>
	</div>
	<div class="content_hottest_newest">
	<div class="newest">
		<div class="title_bar">
			<p class="title">最新条目</p>
			<% num_entries = @newest.length %>
			<% for i in 0..num_entries - 1 %>
				<%= render(:partial => "cps/snippet", :locals => {:cp => @newest[i], :seme => @newest_seme[i], :uke => @newest_uke[i]}) %>
			<% end %>
		</div>
	</div>
	<div class="hottest">
		<div class="title_bar">
			<p class="title">分类排名</p>
		    <% num_entries = @hottest.length %>
			<% for i in 0..num_entries - 1 %>
				<%= render(:partial => "cps/snippet", :locals => {:cp => @hottest[i], :seme => @hottest_seme[i], :uke => @hottest_uke[i]}) %>
			<% end %>
		</div>
	</div>
</div>
	<div class="contact_bar">
		<table id="bottomtable">
			<tr>
				<td>联系我们</td>
				<td>关注我们</td>
				<td>加入我们</td>
				<td>捐赠我们</td>
			</tr>
		</table>
	</div>
</div>