
<div class="homepage_content">
	<div class="content_crossbar">
		<p class="title">网站公告</p>
		<p><span class="emph">刚刚建站，庆祝撒花！！！</span></p>
    	<p>欢迎各位<span class="emph">宅腐双修</span>的妹纸们踊跃注册，完善百科~</p>
	</div>
	<div class="newest">
		<div class="title_bar">
			<p class="title">最新条目</p>
		</div>
	</div>
	<div class="hottest">
		<div class="title_bar">
			<p class="title">分类排名</p>
		</div>
	</div>
	<div class="content_crossbar">
		<table id="bottomtable">
			<tr>
				<td>联系我们</td>
				<td>关注我们</td>
				<td>加入我们</td>
				<td>捐赠</td>
			</tr>
		</table>
	</div>
</div>
