<% @title = "加入我们 - CP百科" %>
<p class="subtitle">加入我们</p>
<div>
有兴趣加入我们的各位技术宅们！请不要犹豫，速度发送邮件至 cpwikiproject@gmail.com！
急需职位：
<ol>
  <li>前端大神，熟悉Javascript, JQuery, HTML5, CSS。</li>
  <li>网站开发大神，熟悉Ruby On Rails。</li>
  <li>熟悉AWS（亚马逊云服务）的技术大神。</li>
  <li>网页设计大神，让CP百科长得更萌萌。</li>
</ol>
CP百科工作组跪谢！_(:з」∠)_
</div>