<% @title = "搜索结果 - CP百科" %>
<div class="search_results">
	<p class="subtitle">角色</p>
	<% if @characters.length == 0 then %>
		<p>暂无角色搜索结果</p>
	<% else %>
		<% for character in @characters %>
			<%= render(:partial => "characters/snippet", :locals => {:character => character}) %>
		<% end %>
	<% end %>
	<p class="subtitle">CP</p>
	<% if @cps.length == 0 then %>
		<p>暂无CP搜索结果</p>
	<% else %>
		<% @cps.each do |cp| %>
			<%= render(:partial => "cps/snippet", :locals => {:cp => cp, :seme => cp.seme.name, :uke => cp.uke.name}) %>
		<% end %>
	<% end %>
</div>