<p class="subtitle">角色信息<span class="edit">[<%= link_to '编辑', edit_character_path(@character) %>]</span></p>

<div class="character_basic_info">
	<%= render(:partial => "shared/character_info", :locals => {:character => @character}) %>
</div>
<div>
<%= formatted(@character.summary) %>
</div>
<p id='add_comment' style='background:#FFFFFF;display:none'>单击图片可添加评论</a>
<script>
addCommentButtonToImages();
</script>

<p class="subtitle">相关CP</p>
<div class="related_cps">
	<% for cp in @related_cps %>
		<%= link_to "#{cp.seme.name} × #{cp.uke.name}", cp_path(cp) %>
		<% if cp != @related_cps.last %>
			&nbsp;|&nbsp;
		<% end %>
	<% end %> 
</div>

