<p class="subtitle">角色信息</p>

<div class="character_basic_info">
	<% p "photo is >>>>>>>" %>
	<% p Photo.find_by_id(@character.profile_image).filename %>
	<img src="/images/<%= Photo.find_by_id(@character.profile_image).filename %>" alt="Placeholder"></img>
	<%= render(:partial => "character_info", :locals => {:character => @character}) %>
</div>
<div>
<%= formatted(@character.summary) %>
</div>

