<p class="subtitle">角色信息</p>

<div class="character_basic_info">
	<img src="todo" alt="Placeholder"></img>
	<%= render(:partial => "character_info", :locals => {:character => @character}) %>
</div>
<div>
<%= formatted(@character.summary) %>
</div>

