<p class="subtitle">帮助</p>
<% @title = "帮助 - CP百科" %>
您好！欢迎来到CP百科 - 帮助板块，请在开始创建/编辑词条前阅读此帮助页面。感谢您的配合。
<h2 class="help_category">关于CP百科</h2>
<p>CP百科是记录无论二次元三次元，无论BG, BL或GL的百科网站。只要您对这对CP有爱，都可以添加该CP词条。希望您在本站度过愉快的时光。</p>
<h2 class="help_category">词条样本</h2>
<p>第一次编辑词条的您可以参考以下词条模板：</p>
<p><a href="/cps/13">樱塚星史郎 × 皇昴流</a></p>
<h2 class="help_category">创建词条须知与规范</h2>
<p>- 请尊重任何一位编辑者创建的任意一对CP！绝对禁止在评论框中或正文中出现互喷！</p>
<p>- 禁止一切不文明的发言。</p>
<p>- 编写者请使用第三人称编写。不要使用过于偏激的词汇。</p>
<p>- 编写内容请尽量符合原作，不要过于OOC和脑洞过大。</p>
<p>- 请不要大段地复制粘贴其他百科站点内容，比如百度百科。为了更好的表现出您对该CP的喜爱，请尽量重新组织语句，让内容更为充实有趣。当让，编辑者也可以通过对其他外语站点的内容进行翻译重组。总而言之，希望编辑者能在编辑时尽量使用原创的句子。</p>
<p>- 因为本站是wiki类网站，所以希望所有的词条内容尽量来源于作品并忠实于作品，而不是纯粹来自编辑者的脑内，所以贴图请尽量使用原作中的图片，比如原作小说中的插画，动画，漫画或电影等的截图。如果需要用到同人图，在作者不是本人的情况下，请一定拿到授权后再在词条编辑中使用。因擅自使用他人作品而产生的纠纷，本站一概不负任何责任。</p>
<p>- 小建议：如果是影视类作品，非常推荐编辑者采用除了文字描述以外，在主编辑内容区域采用对原作中CP两人的萌萌截图并给予正确的描述。在这样图文并茂的阅读中，相信读者更能体验到轻松愉快的阅读氛围。具体方式可参考上方的词条样本。</p>
<h2 class="help_category">如何创建新CP词条</h2>
<h3 class="help">第一步:</h3>
<p>选择页面左边栏中的“创建新CP”。</p>
<img class="tutorial" width="15%" height="15%" src="/tutorial_step1.png"></img>
<h3 class="help">第二步:</h3>
<p>输入要创建的CP姓名。</p>
<img class="tutorial" width="40%" height="40%" src="/tutorial_step2.png"></img>
<h3 class="help">第三步:</h3>
<p>选择已有角色或新建角色。尽量避免生成2个同样的角色词条，可点击角色名查看该角色词条页面。</p>
<img class="tutorial" width="45%" height="45%" src="/tutorial_step3_ver2.png"></img>
<h3 class="help">第四步:</h3>
<p>填写角色基本信息。</p>
<img class="tutorial" width="50%" height="50%" src="/tutorial_step4.png"></img>
<h3 class="help">第五步:</h3>
<p>在简介一栏填写角色介绍，善用格式编辑，让您生成的词条更清晰更便于阅读。</p>
<img class="tutorial" width="75%" height="75%" src="/tutorial_step5.png"></img>
<h3 class="help">第六步:</h3>
<p>填写CP信息。JP档案部分就是要编写的重点啦！本站非常欢迎采用图片+图片评论的形式把配对中两位角色的互动淋漓尽致的展现出来！</p>
<img class="tutorial" width="80%" height="80%" src="/tutorial_step6.png"></img>
<h3 class="help">完成:</h3>
<p>点击提交后页面会自动跳转到您创建的CP页面。看到自己的编辑成果一定很心满意足吧！如果需要对内容进行修改，可以点击CP页面右上角的编辑栏，根据内容需要选择合适的编辑按钮。</p>
<img class="tutorial" width="20%" height="20%" src="/tutorial_step7.png"></img>








