/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flash_notice.css
 *= require homepage.css
 *= require new_entry.css
 *= require user_info.css
 *= require wiki.css
 */
body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 14pt;
	background-color: #ffffff;
	color: #576069;
}

#language {
	font-size: 10pt;
	color: #576069;
}

.navbar_container_table {
	margin-left:auto;
	margin-right:5pt;
}

.user_nav {
	font-size: 10pt;
	color: #576069;
	width: 100%;
}

a:active {
	color: #576069;
}

a:visited {
	color: #576069;
}

a:hover {
	color: #f98d9e;
	text-decoration:underline;
}

.left_sidebar {
	width: 15%;
	display: inline-block;
	font-size: 12pt;
}

.right_container {
	width: 84%;	
	display: inline-block;
	position: absolute;
	top: 25pt;
}

.navbar {
	font-size: 12pt;
}

td.right_most_cell {
	text-align: right;
}

img.logo {
	height: 100pt;
	width: 100pt;
}

span.emph {
	color: #f98d9e;
}

p.title {
	font-size: 14pt;
	font-weight: bold;
}

.edit_area {
	width: 95%;
	height: 200pt;
	overflow-y: scroll;
	border: solid 1pt #CCCCCC;
	padding: 5pt 10pt 5pt 10pt;
	color: #576069;
	margin-top: 5pt;
	margin-bottom: 5pt;
	border: 1pt solid #cccccc;
	-moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  border-radius: 5pt;
}

.edit_area:focus {
	outline: none;
	border-color: #f98d9e;
}

.error_msg {
	background-color: #FFC0CB;
	font-size: 15pt;
	-moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  border-radius: 5pt;
}

.left_sidebar {
	padding-left: 10pt;
	background-color: #ffffff;
	font-family: Tahoma;
	color: #576069;
	font-weight: 100;
}

h4 {
	font-weight: 100;
	padding: 0pt;
	margin: 0pt;
	padding-left: 10pt;
	font-size: 14pt;
}

#category_submenu ul {
	font-weight: 100;
	padding: 0pt;
	margin: 0pt;
	padding-left: 20pt;
	font-size: 12pt;
}

a {
	text-decoration:none;
	color: #576069;
}

.left_sidebar a:active {
	color: #576069;
}

.left_sidebar a:visited {
	color: #576069;
}

.left_sidebar a:hover {
	color: #f98d9e;
}

p {
	font-size: 12pt;
	color: #576069;
}

input {
  border: 1pt solid #cccccc;
  -moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  border-radius: 5pt;
  font-size: 12pt;
  padding: 4pt 3pt;
  outline: 0;
  /*-webkit-appearance: none;*/
}

input:focus {
  border-color: #f98d9e;
}

#search {
	background-color: #576069;
	color: #e7eaef;
	border: none;
	padding: 3pt;
}

#search:hover {
	color: #f98d9e;
}

button {
	background-color: #576069;
	-moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
	color: #e7eaef;
	border: none;
	padding: 4pt;	
}

button:hover {
	color: #f98d9e;
}

#seme {
	width: 80pt;
}

#uke {
	width: 80pt;
}

.edit {
	float: right;
	font-size: 12pt;
	line-height: 30pt; 
	vertical-align: bottom;
}

.input_text_field {
	color: #576069;
}

.input_text_area {
	color: #576069;
	margin-top: 5pt;
	border: 1pt solid #cccccc;
	-moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  border-radius: 5pt;
  width: 300pt;
  height: 100pt;
}

.input_text_area:focus {
	outline: none;
	box-shadow: 0 0 0pt #719ECE;
	border-color: #f98d9e;
}

select {
	border-color: #cccccc;
	color: #576069;
}

select:focus {
	outline: none;
	background-color: #ffedf0;
	border-color: #f98d9e;
}

.radio_button {
  display: block;
  clear: left;
  float: left;
}

#no_profile_image {
	border-width: 1pt;
	border-color: #aaaaaa;
	padding: 2pt;
	border-style: dotted;
	-moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  border-radius: 5pt;
  font-size: 12pt;
}

img.mascot_red {
	height: 300pt;
	width: auto;
	float: right;
	margin-top: 80pt;
}

img.mascot_blue {
	height: 300pt;
	width: auto;
	float: left;
	margin-top: 80pt;
}

.devise_flash {
	border-width: 1pt;
	border-color: #FFC0CB;
	background-color: #FFC0CB;
	-moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  border-radius: 5pt;
  font-size: 10pt;
  padding: 2pt;
  text-align: center;
}

.nav_bar_flash_center {
	display: inline-block;
  width: 80%;
  text-align: center;
  margin-left: 100pt;
  margin-right: -100pt;
}

.nav_bar_hint_right {
	display: inline-block;
	width: 19%;
	float:right;
	text-align: right;
}







