.flash_message_success {
	font-size: 12px;
	padding: 5px;
	color: #576069;
	background-color: #b1f7b1;
	border: 1px solid #b1f7b1;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
}

.flash_message_fail {
	font-size: 12px;
	padding: 5px;
	color: #576069;
	background-color: #FFC0CB;
	border: 1px solid #FFC0CB;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}