.help {
	font-size: 14px;
	font-style: bold;
  border-bottom: solid 1px #cccccc;
}

.help_category {
	font-size: 14px;
	border: 1px solid #FFC0CB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFC0CB;
  padding-left: 3px;
}

.tutorial {
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a#sample_cp_link:link {
  color: #4287cc;
  text-decoration: underline;
}

a#sample_cp_link:visited {
  color: #4287cc;
}

a#sample_cp_link:hover {
  color: #f98d9e;
  text-decoration: underline;
}


