.homepage_content {
	margin: 5pt 15pt;
}

.content_crossbar {
	background-color: #ffffff;
	text-align: center;
	border: 1pt solid #cccccc;
	border-radius:5pt;
	display: inline-block;
	width: 100%;
}

.newest {
	background-color: #ffffff;
	text-align: center;
	border: 1pt solid #cccccc;
	border-radius:5pt;
	width: 50%;
	margin: 5pt 0pt;
	height: 250pt;
	display: inline-block;
	float: left;
}

.hottest {
	background-color: #ffffff;
	text-align: center;
	border: 1pt solid #cccccc;
	border-radius:5pt;
	width: 49%;
	margin: 5pt 0pt;
	height: 250pt;
	display: inline-block;
	float: right;
}

.contact_bar {
	background-color: #ffffff;
	text-align: center;
	display: inline-block;
	width: 100%;
}

#bottomtable td {
	font-size: 12pt;
	color: #e7eaef;
	background-color: #576069;
	border: 1pt solid #576069;
	border-radius:5pt;
	width: 80pt;
	height: 40pt;
}

#bottomtable {
	border-collapse:separate;
	border-spacing: 10pt;
	margin-left:auto; 
  margin-right:auto;
  margin-top: 100pt;
}

.title {
	font-size: 12pt;
	color: #576069;
	text-align: center;
}

label {
	color: #576069;
	font-size: 12pt;
}

.content_hottest_newest {
	width: 100%;
}







