.entry_list {
/*	border-top-style: solid;
	border-top-color: #FFC0CB;
	border-top-width: 1px;*/
}

.cps_created_by_user_table {
	margin-bottom: 10px;
	font-size: 12px;
	margin-right: 2px;
	font-family: Tahoma;
}

.characters_created_by_user_table {
	margin-bottom: 10px;
	font-size: 12px;
	margin-right: 2px;
	font-family: Tahoma;
}

.cps_liked_by_user_table {
	margin-bottom: 10px;
	font-size: 12px;
	margin-right: 2px;
	font-family: Tahoma;
}

.user_basic_info {
	font-size: 12px;
}