<p>您好 <%= @resource.email %>!</p>

<p>您可以通过以下链接重置密码：</p>

<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您不想重置密码，请忽略这封邮件。</p>
<p>在您完成以上链接里提示的步骤后，您的新密码会生效。</p>
<p>-CPWiki工作组-</p>
